/******************************************************************************/
/*****************************ESTILOS GENERALES********************************/
/******************************************************************************/
:root {
    --ColorFondoHeader: #875374;
    --ColorTextoMenu: #F5CFD1;
    --ColorResalteMenu: rgba(34.9, 12.5, 26.7, .2);
    --ColorBurbuja: rgba(255, 255, 255, 0.45);
}

* {
    box-sizing: border-box;
}

body {
    background-color: black;
    padding-left: 10px;
    padding-right: 10px;
}

/******************************************************************************/
/****************************CONFIGURACION HEADER******************************/
/******************************************************************************/

/**MENU************************************************************************/
header {
    background-color: var(--ColorFondoHeader);
    display: flex;
    flex-direction: column;
    border-radius: 20px 20px 0 0;
    /*width: 380px; ancho mobile*/
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 1000px;
    margin-top: 10px;
}

.contenedor_logo h1 {
    font-family: 'League Script', cursive;
    font-size: 3.5em;
    text-align: center;
    text-shadow: 0 0 5px red, 0 0 10px red, 0 0 15px red;
    color: #F5CFD1;
}

.contenedor_nav {
    text-align: center;
    z-index: 1;
}

.contenedor_nav a {
    text-decoration: none;
    color: var(--ColorTextoMenu);
    font-family: 'Poiret One', cursive;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    line-height: 25px;
    transition: background-color 0.7s;
}

.contenedor_nav a:hover {
    background-color: var(--ColorResalteMenu);

}

/**ANIMACION DE FONDO**********************************************************/
.contenedor_burbujas {
    background-color: black;
    position: relative;
    z-index: 0;
}

.burbuja {
    position: absolute;
    border-radius: 50%;
    background-color: var(--ColorBurbuja);
    top: 165px;
    opacity: 0%;
    a
    /*nimation: MovBurbuja 3s linear infinite;*/
}

@keyframes MovBurbuja {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.15;
    }

    100% {
        top: 0;
        opacity: 0;
    }
}

.burbuja:nth-child(1) {
    width: 30px;
    height: 30px;
    left: 0%;
    animation-duration: 3s;
    animation-delay: 1;
}

.burbuja:nth-child(2) {
    width: 50px;
    height: 50px;
    left: 50%;
    animation-duration: 5s;
    animation-delay: 0;
}

.burbuja:nth-child(3) {
    width: 70px;
    height: 70px;
    left: 25%;
    animation-duration: 7s;
    animation-delay: 2s;
}

.burbuja:nth-child(4) {
    width: 20px;
    height: 20px;
    left: 40%;
    animation-duration: 7s;
    animation-delay: 0s;
}

.burbuja:nth-child(5) {
    width: 20px;
    height: 20px;
    left: 10%;
    animation-duration: 4s;
    animation-delay: 3s;
}

.burbuja:nth-child(6) {
    width: 65px;
    height: 65px;
    left: 10%;
    animation-duration: 4s;
    animation-delay: 0s;
}

.burbuja:nth-child(6) {
    width: 65px;
    height: 65px;
    left: 55%;
    animation-duration: 3s;
    animation-delay: 1s;
}

.burbuja:nth-child(7) {
    width: 85px;
    height: 85px;
    left: 75%;
    animation-duration: 6s;
    animation-delay: 4s;
}

.burbuja:nth-child(8) {
    width: 35px;
    height: 35px;
    left: 90%;
    animation-duration: 4s;
    animation-delay: 0s;
}

.burbuja:nth-child(9) {
    width: 75px;
    height: 75px;
    left: 90%;
    animation-duration: 3s;
    animation-delay: 3s;
}

.burbuja:nth-child(10) {
    width: 75px;
    height: 75px;
    left: 90%;
    animation-duration: 3s;
    animation-delay: 3s;
}

.burbuja:nth-child(11) {
    width: 45px;
    height: 45px;
    left: 35%;
    animation-duration: 5s;
    animation-delay: 1s;
}

.burbuja:nth-child(12) {
    width: 80px;
    height: 80px;
    left: 10%;
    animation-duration: 3;
    animation-delay: 0s;
}

.burbuja:nth-child(13) {
    width: 50px;
    height: 50px;
    left: 70%;
    animation-duration: 4;
    animation-delay: 2s;
}

.burbuja:nth-child(14) {
    width: 150px;
    height: 150px;
    left: 67%;
    animation-duration: 8s;
    animation-delay: 0s;
}

.burbuja:nth-child(15) {
    width: 150px;
    height: 150px;
    left: 34%;
    animation-duration: 6s;
    animation-delay: 0s;
}

.burbuja:nth-child(16) {
    width: 150px;
    height: 150px;
    left: 14%;
    animation-duration: 5s;
    animation-delay: 3s;
}