/******************************************************************************/
/***************************PREGUNTAS Y RESPUESTAS*****************************/
/******************************************************************************/
.accordion-header {
    background-color: #000000;
}

.accordion-button {
    background-color: #9d759b8f;
    color: #F5CFD1;
}

.accordion-header {
    background-color: black;
}

.accordion {
    max-width: 1000px;
    margin: auto;
}

.accordion-body {
    background-color: #8753746f;
    font-size: $TamañoParrafos;
    font-family: $FuenteTexto;
    color: black;
}