/******************************************************************************/
/*****************************ESTILOS GENERALES********************************/
/******************************************************************************/


/*COLORES PAGINAS*/
$ColorFondoHeader: #875374;
$ColorTextoMenu: #F5CFD1;
$ColorResalteMenu: rgba(34.9, 12.5, 26.7, .2);
$ColorFooter: #875374;
/*TAMAÑO FUENTES*/
$TamanioFuenteLogo: 3.5em;
$TamanioFuenteMenu: 1.2em;
$TamanioParrafos: 1.05em;

/*FUENTES*/
$FuenteLogo: 'League Script', cursive;
$FuenteTexto: 'Poiret One', cursive;
$FuenteFooter: 'Codystar', cursive;

/*OTRAS VARIABLES ANIMACIÓN BURBUJAS*/
$ColorBurbuja1: #C4A5B9;
$ColorBurbuja2: #A9686D;
$ColorBurbuja3: #3A1F4D;

$valorMin: 20;
$valorMax: 130;
$valRandom: 0;
$resultado: 0;
$numBurbujas: 30;

* {
    box-sizing: border-box;
}

body {
    background-color: black;
    padding-left: 10px;
    padding-right: 10px;
}

h2,
p {
    font-size: $TamanioParrafos;
    font-family: $FuenteTexto;
    color: $ColorTextoMenu;
    padding-bottom: 5px;
    padding-bottom: 10px;
}


/******************************************************************************/
/********************************UTILITARIOS***********************************/
/******************************************************************************/

/*********************************FUNCIONES************************************/

@function valorAleatorio($valorMin, $valorMax) {
    $valRandom: random();
    $resultado : $valorMin + floor($valRandom * (($valorMax - $valorMin) + 1));
    @return $resultado;
}

/*********************************MIXINS************************************/
@mixin iconosContacto($marSup, $marInf, $ancho, $alto, $marIzq, $marDer) {
    margin-top: $marSup;
    margin-bottom: $marInf;
    width: $ancho;
    height: $alto;
    margin-left: $marIzq;
    margin-right: $marDer;
}