/******************************************************************************/
/**************************RESPONSIVE MOBILE FIRST*****************************/
/******************************************************************************/

@media screen and (min-width: 480px) {

    /**MENU************************************************************************/
    .contenedor_logo_menu {
        margin: auto;
    }

    .contenedor_nav {
        padding-top: 10px;

        li {
            float: left;
        }
    }

    /**DESCRIPCIÓN ARTISTA**********************************************************/
    .contenedor_fondo {
        height: 210px;
    }

    /**GALERIA DE TATUAJES*************************************************************/
    .tituloGalreria {
        height: 70px;
        text-align: center;
        max-width: 1000px;
    }
}

@media screen and (min-width: 880px) {

    /**MENU************************************************************************/
    .contenedor_logo_menu {
        padding-top: 25px;
        display: flex;
    }

    .contenedor_nav {
        padding-top: 15px;
        padding-left: 200px;

        li {
            float: left;
        }
    }


    /**DESCRIPCIÓN ARTISTA**********************************************************/
    .tituloGalreria {
        height: 70px;
        text-align: center;
        max-width: 1000px;
    }

}