/******************************************************************************/
/***********************CONTACTO EN REDES SOCIALES*****************************/
/******************************************************************************/

footer {
    background-color: $ColorFooter;
    max-width: 1000px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 10px 10px 0 0;
}

.contenedor_iconos {
    display: flex;
    justify-content: center;
}

.icono {
    @include iconosContacto(15px, 10px, 30px, 30px, 15px, 15px);
}

.contactenos {
    p {
        padding-top: 5px;
        text-align: center;
        background-color: $ColorFooter;
        color: $ColorTextoMenu;
        font-weight: bold;
        font-family: 'Codystar', cursive;
    }
}