/******************************************************************************/
/****************************CONFIGURACION HEADER******************************/
/******************************************************************************/

/**MENU MOBILE FIRST***********************************************************/
header {
    background-color: $ColorFondoHeader;
    display: flex;
    flex-direction: column;
    border-radius: 20px 20px 0 0;
    margin: auto;
    height: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 1000px;
    margin-top: 10px;
    overflow: hidden;
}

.contenedor_logo_menu {
    text-align: center;
    z-index: 1;

    h1 {
        font-family: $FuenteLogo;
        font-size: $TamanioFuenteLogo;
        text-align: center;
        text-shadow: 0 0 5px red, 0 0 10px red, 0 0 15px red;
        color: #F5CFD1;
    }
}

.contenedor_nav {
    text-align: center;

    a {
        text-decoration: none;
        color: $ColorTextoMenu;
        font-family: $FuenteTexto;
        font-size: $TamanioFuenteMenu;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 5px;
        line-height: 25px;
        transition: background-color 0.7s;

        &:hover {
            background-color: $ColorResalteMenu;
        }
    }
}


/**ANIMACION DE FONDO**********************************************************/

galeria_artista {
    position: absolute;
}

.efecto_vidrio_titulo {
    width: 300px;
    background-color: rgba(255, 255, 255, 0.192);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(5px);

    h2 {
        font-size: 2.2em;
        font-weight: bold;
        padding-bottom: 10px;
    }
}

.contenedor_burbujas {
    background-color: black;
    position: relative;
    z-index: 0;
}

.burbuja {
    position: absolute;
    border-radius: 50%;
    top: 165px;
    opacity: 0%;
    animation: MovBurbuja 3s linear infinite;
}

@keyframes MovBurbuja {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.15;
    }

    100% {
        top: -100px;
        opacity: 0;
    }
}

@for $i from 1 through $numBurbujas {
    .burbuja:nth-child(#{$i}) {
        $resultado: valorAleatorio($valorMin, $valorMax);
        width: #{$resultado}px;
        height: #{$resultado}px;

        @if $resultado >100 {
            background-color: $ColorBurbuja1;
        }

        @else if $resultado < 40 {
            background-color: $ColorBurbuja2;
        }

        @else {
            background-color: $ColorBurbuja3;
        }

        $resultado: (
            valorAleatorio(0, 100)/100)*100%;
        left: #{$resultado};

        $resultado: valorAleatorio(7, 15
        );

    animation-duration: #{$resultado}s;

    $resultado: valorAleatorio(0, 5);
    animation-delay: #{$resultado}s;
}
}